
html {
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     color: gray;
}
.left{ float: left;}
.right{ float: right;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center { text-align: center;}
.uppercase { text-transform: uppercase;}
.lowercase { text-transform: lowercase;}
.capitalize { text-transform: capitalize;}
.block { display: block;}
.inline {display: inline-block;}
.clear { clear: both;}
clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.browse_container {
     width: 1000px;
     margin: auto;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     color: gray;}
.browse {
    width: 100%;
    height: 70px;
    background: #ddd;
}
.step {
     width: 70px;
     height: 70px;
     background: rgba(173, 82, 11, 0.89);
     color: white;
     display: block;
     text-align: center;
     font-weight: bold;
     float: left;
     line-height: 70px;
     margin-right: 10px;
}
.search {
   width: 76%;
   padding: 18px 1%;
   float: right;
   background:#e9e3da;
     span {
          float: left;
          font-size: 15px;
          margin: 0px 30px;
          color: #0c4e9c;
          font-weight: bold;
          line-height: 30px;
     }
     input[type="text"] {
          float: left;
          border: 1px solid #ddd;
          line-height: 30px;
          height: 30px;
          border-radius: 3px;
          text-indent: 10px;
          font-size: 15px;
          color: #666;
          font-weight: bold;
     }
     input[type="submit"] {
          display: block;
          width: 100px;
          height: 33px;
          line-height: 33px;
          border-radius: 3px;
          font-size: 14px;
          color: #fff;
          text-align: center;
          border: 0px;
          box-shadow: 0 0 5px #ddd;
          float: left;
          margin-left: 50px;
          cursor: pointer;
          background: #5cb85c;
          border: 1px solid #4cae4c;
     }
}
.heading {
     width: 22%;
     line-height: 70px;
     font-size: 15px;
     font-weight: bold;
     background: #f0700d;
     color: white;
     position: relative;
}

.heading_info  {
     background: rgba(240, 112, 13, 1);
     height: 40px;
     line-height: 40px;
     color: white;
     font-weight: bold;
}
.mo {
     width: 20%;
     float: left;
     text-indent: 20px;
}
.lp {
     width: 60%;
     float: left;
     text-indent: 20px;
}
.pr {
     width: 20%;
     float: left;
}
.odd {
     background:#ddd;
}
.even {
     background: #ccc;
}

.browse_results {
     margin-top: 20px;
     width: 62.5%;
     margin-right: 2.5%;    
     float: left;
}
.browse_timings {
     margin-top: 20px;
     width: 35%;
     float: right;

}
.browse_results h3 {
     background: rgba(120, 123, 126, 0.27);
     padding: 0px;
     height: 40px;
     line-height: 40px;
     margin: 0;
     text-indent: 20px;
     font-size: 15px;
     color: #0c4e9c;
     font-weight: bold;
}
.results_content .count { 
     width: 10%; 
     float: left; 
     min-height: 30px;
     padding: 10px 0 0;
     text-align: center;
}
.results_content .topic { 
     width: 60%;
     float: left;
     min-height: 30px;
     padding: 10px 2.5%;

}
.results_content .problems { 
     width: 23%; 
     float: left;
     min-height: 30px;
     padding: 10px 1% 0;
     text-align: left;
}
.browse_results .heading_info {
     background: rgba(12, 78, 156, 0.29);
     color: #333;
     font-weight: normal;
}
.browse_timings .heading_info .step {
    height: 40px;
     margin-left: 0px;
     line-height: 40px;
     width: 40px;
     margin-top: 0px;
     margin-bottom: 0px;
}
.results_content {
     background: rgba(233, 227, 218, 0.25);
     border-bottom: 1px solid #EFEFF0;
     color: #555;
}
.timing_toggle {
     padding: 20px 0px;
     background: #e9e3da;
}
.timing_toggle input[type="radio"] {
     margin: 0px 20px;
     font-size: 15px;
}
.timing_options {
     margin-left: 20px;
}
.timings_container {
     padding:  5px 0;
     background: #eee;
     border-bottom: 1px solid #E7E5E5;
     color: #555;
}
.timings_container .timings {

}
.timings_container .date {
     width: 20%;
     float:left;
     padding: 8px 5%;
}
.timings {
     width: 60%;
     float: left;
     padding: 0 5%;
}
.timings .times {
     width: 100%;
     margin: 5px 0;
}
.timings .times span {
     margin-right: 5px;
}
.heading.eh {
     width: 100%;
     line-height: 40px;
     margin-top: 10px;
}
.eh .step {
     height: 40px;
     margin-left: 0px;
     line-height: 40px;
     width: 40px;
     margin-top: 0px;
     margin-bottom: 0px;
}
.btn.enroll {
     display: block;
     width: 100%;
     height: 40px;
     line-height: 40px;
     border-radius: 2px;
     margin: 10px auto;
     font-size: 15px;
     padding: 5px 0;
     color: #fff;
     text-align: center;
     background: #5cb85c;
     border: 1px solid #4cae4c;
     cursor: pointer;
}