/* Short Hands */
.left {  float: left; }
.right {   float: right; }
.text-left {  text-align: left; }
.text-right {   text-align: right; }
.text-center {   text-align: center; }
.uppercase {   text-transform: uppercase; }
.lowercase {   text-transform: lowercase; }
.capitalize {   text-transform: capitalize; }
.block {   display: block; }
.inline {   display: inline-block; }
.clear {   clear: both; }

clearfix:after { 
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }
body {
  margin: 0px;
  padding: 0px;
  font-family: 'oxygen', sans-serif;
}

.horizontal { 
  float: left; }
ul.list { 
  list-style-type: none;
  padding: 0;
  margin: 0; }


/* Header Section */
header {
  height: 60px;
}
header .logo {
  margin-left: 125px; }
header .about {
  margin-right: 150px;
  line-height: 60px;
  text-decoration: none;
  font-size: 13px;
  color: black;
}


/* Upload section */
.upload-resume {
  padding-top: 65px;
  padding-bottom: 40px;
  width: 100%;
  background: url("../images/banner.png");
  text-align: center;
  margin: auto;
}
.upload-resume h2 {
  font-size: 32px;
  color: white;
  margin: 0px;
}
.upload-resume ul {
  margin: 23px auto 0px;
  text-align: center; }
.feature-box {
  width:  643px;
  margin:auto; }
.upload-resume .features li {
  height: 36px;
  float: left;
  font-size: 14px;
  color: white;
  padding-left: 60px;
  padding-right: 40px;
  background-position: left;
  background-size: 36px;
  line-height: 36px;
}
.upload-box {
  width: 470px;
  height: 45px;
  background: white;
  position: relative;
  margin: 35px auto 22px;
  border: 0; }
.upload-box .submit-box { 
  border: 0;
  line-height: 45px;
  float: left;
  text-indent: 20px;
  width: 400px; }
.upload-box .upload-text {
  background:white;
  line-height: 45px;
  color: blue;
  float: right;
  display: block;
  border: none; }
.submit-btn {
  width: 186px;
  height: 40px;
  background: #1da4dd;
  border: 0px;
  line-height: 40px;
  color: white;
  text-transform: uppercase; }
.free-text {
  font-size: 14px;
  font-weight: bold;
  color:white; }
.spell {
  background: url('../images/spellcheck.png') no-repeat;  }
.grammar {
  background: url("../images/grammar.png") no-repeat; }
.audit {
  background:url("../images/audit.png") no-repeat; }
p.free-text {
  text-align: center;
  margin: 15px auto 0;
}

/* Teaser */
.teaser {
  padding: 50px 0 50px; }
.teaser-box {
  width: 736px;
  margin: auto; }
.teaser p {
  line-height: 21px;
  font-size: 17px;
  color: #333333; }
.teaser-box p span.blue {
  color: #1da4dd; }
.hidden { display: none; }

/* How to Steps */

.howto {
  background: #f7f5f5;
  padding-top: 60px;  
  padding-bottom: 60px; }

.howto h3 {
  margin: 0px;
  padding: 0px;
  font-size: 27px;
  color: #1da4dd;
  font-family: serif;
  text-align: center; }
.howto-container {
  padding: 60px 0px;
  width: 736px;
  margin: auto; }
.howto-list {
  margin-left: auto;
  margin-right: auto;
  width: 736px; }
.howto-list li {
  width: 184px;
  float: left;
  text-align: center; }
.howto-list li img {
  height: 98px;
  margin: auto;
  text-align: center; }
.howto-list p {
  padding: 0px 20px 0 5px;
  font-size: 14px;
  color: #414141; }


/* share */
.share {
  padding-top: 95px;
  padding-bottom: 90px;
  background: #1da4dd;
  color: white;
}

.share h2 {
  margin: auto;
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
.share p {
  color: white;
  margin: auto;
  font-size: 16px;
  text-align: center;
}
.spread {
  margin-top: 50px;
  margin-bottom: 25px;
  color: white;
  text-align: center;
  font-size: 16px;
}
.share-container {
  width: 184px;
  margin: 25px auto ;
}
.share-icons li {
  float: left;
  padding: 0px 5px;
}
.share-icons li img {
  width: 36px;
  height: 36px;
}
.help {
  font-size: 14px;
  text-align: center;
}

/* Poll */

.poll { 
  background: #1da4dd;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px; }

.poll h3 {
  margin: 0px; 
  margin-right: 10px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.poll .title .resume-name {
  color: #ffe400; 
}
.poll-container {
  width: 736px;
  margin: auto;
  text-align: center;
  font-size: 14px;
}
.poll-container h2.title {
  font-size: 16px;
  margin-bottom: 26px;
  text-align: left;
  margin-top: 0px;
}
.poll-choice {
  width:  100%;
}
.poll-choice li {
  width: 33%;
  float: left;
  margin-bottom: 23px;
  display: block;
  text-align: left;
}
.submit-poll {
  border: 1px solid white;
  height: 39px;
  width: 158px;
  line-height: 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  background: transparent;
}

.poll-privacy {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}

.loading-bar {
  width: 410px;
  height: 19px;
  text-align: center;
  margin: 23px auto 50px;
  background:url("../images/loading.png") no-repeat;
  background-position: -2px 0px;
}

/* Footer */
.f_container {
  width:  1000px;
  margin: auto;
  height: 77px; }
.copyright {
  font-size: 13px;
  line-height: 77px;
}
.footer-links a {
  font-size: 13px;
  margin-left: 17px;
  display: block;
  text-decoration: none;
  color: #1da4dd;
  line-height: 77px;
  float: left;
}








