<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>iLead Simulator</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <%= javascript_include_tag  "all" %>
    <%= javascript_include_tag  "avgrund" %>
  </head>
  
  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  $(document).ready( function() {
    $('.hasBars .dataBar').each(function() { 
      $(this).animate( {
          width: $(this).parent().prev().html()+"%"
        }, 500, function(){});
    });
    $('.dataBar.target').animate( {width:'30%'}, 500, function(){});

    $('.memberContainer').click( function() {
      $('.avgrund-popup').css('top', $(window).scrollTop() + 100 + "px");
      $(this).addClass("active_popup");
      $('.umName').each(function() {
        $(this).html($('.active_popup .memberName').html());
      });
      $('.userStats .dataCount').each(function(i) {
        $(this).html($('.active_popup .dataCount').eq(i).html());
      });
    
    //Pop up Open
      Avgrund.show( "#default-popup" );

      $('.avgrund-popup-animate .dataBar').each(function() {
       $(this).css('width', $(this).parent().prev().html()+"%");
      });
    });

    $('.close').click( function() {
      $('.active_popup').removeClass('active_popup');
      Avgrund.hide();
      $('.avgrund-popup .dataBar').removeClass('animate');
      $('.avgrund-popup .dataBar').css('width', '0');
      $('.avgrund-popup').css('top', "100px");
    });
  });
</script>

</html>
