
$header_height : 60px;
$header_background: #e6e6e6;
$header_width: 1024px;
$window_width: 1024px;

$logo_background: #ec6060;
$stats_height: 60px;

$stage_height: 60px;
$stage_background: #FFF6E7;

$memberPicHeight: 56px;
$memberPicWidth: 56px;

$teaminfo_width: 860px;

@mixin border_radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}