@import "config";
html {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: gray;
}
body {
 margin: 0 auto;
}
a { text-decoration: none;}
/* short hands */
.left{ float: left;}
.right{ float: right;}
.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center { text-align: center;}
.uppercase { text-transform: uppercase;}
.lowercase { text-transform: lowercase;}
.capitalize { text-transform: capitalize;}
.block { display: block;}
.inline {display: inline-block;}
.clear { clear: both;}
clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/* end of shorthands */


.list {
	margin:0;
	padding:0;
	li  {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.horizantal{
	float: left;
	li {
		float:left;
		margin:0;
		display:block;
		list-style-type: none;
	}
	.right {
		float: right;
	}
	.left {
		float: left;
	}
}

.vertical{
	float: none;
	li {
		width: 100%;
		margin: 0;
		display: block;
		list-style-type: none;
	}
}

/* begin header-section */

.headerData {
	width: 100%;
	li { 
		line-height: $header_height;
		a { 
			color: gray;
			text-decoration: none;
		}
	}
}

.header	{
	background: $header_background; 
	height: $header_height; 
	width: $header_width;
	margin: auto;
	.logo {
		background: $logo_background;
		font-size: 14px;
		width: 107.2px;
		height: $header_height;
		display: inline-block;
		img { 
			width: 102px;
			height: 60px;
		}
	}
	.help {
		font-size: 18px;
		font-weight: 300;
		text-align: left;
		width: 273px;
		height: $header_height;
		text-indent: 17px;
		line-height: $header_height;
		text-decoration: underline;
	}
	.day { 
		background: white;
		width: 276px; 
		height: 58px;
		margin-top: 1px;
		text-align: center;
		span {
			line-height: 58px;
			color: black;
			font-size: 20px;
			text-align: center;
			font-weight: 300;
			text-shadow: 0 0 black;
		}
	}
	.ins {
		color: black;
		padding: 0px 10px;
		font-size: 16px;
		text-transform:capitalize;
	}
	.logout {
		text-transform: uppercase;
		padding: 0px 15px 0px 30px;
		font-size: 16px;
		color: black;
		letter-spacing: 1px;
	}
}

/* -- end section-header */

/* -- begin: section-stats */

.teamStats {
	height: $stats_height;
	width: 100%;
	width: $header_width;
	border-bottom: 1px solid #ea9a93;
	margin: 0 auto;
	
	.teamLogo {
		height: 59px;
		width: 75px;
		background: #FFFAEE;
		color: red;
		display: block;
		float: left;
	}

	.teamName {
		line-height: 1.4em;
		text-transform: capitalize;
		width: 40px;
		color: #EB876D;
		float: left;
		background: #FFFAEE;
		display: block;
		padding: 10px 0px 10px 5px;
		font-style: italic;
	}
	.teamNameOverlap {
		width: 0;
		height: 0;
		border-top: 29px solid transparent;
		border-left: 21px solid gray;
		border-bottom: 29px solid transparent;
		margin: 0;
		background: white;
		float: left;
	}
	.teamNameOverlap1 {
		width: 0;
		height: 0;
		left: -21px;
		top: 0px;
		border-top: 29px solid transparent;
		border-left: 21px solid #FFFAEE;
		border-bottom: 29px solid transparent;
		margin: 0;
		float: left;
		position: relative;
		background: transparent;

	}
	.dataIndex {
		margin-left: 0px;
		margin-right: 30px;
		.dataBar {
			margin-top: 5px;
		}
	}
	.globalSkills {
		margin-top: 5px;
		li { 
			float: left;	
		}
		.dataBarContainer {
			clear: both;
		}
	}
	
}

/* end: section-stats  */

/* begin: Data Charts */

.dataIndex {
		width: 170px;
		.dataName {
			font-size: 16px;			
			color:#383838;
			font-weight: 300;
		}
		.dataCount {
			font-size: 20px;
			color: black;
			margin-top: -2px;
		}
		.dataBarContainer{
			width: 170px;
			border: 1px solid #cbcbcb;
			height: 18px;
			.dataBar {
				display: block;
				height: 20px;
				width: 0%;
				margin-top: -1px;
				margin-left: -1px;
				-webkit-transition: width 1s ease-in-out;
			    -moz-transition: width 1s ease-in-out;
			    -o-transition: width 1s ease-in-out;
			    transition: width 1s ease-in-out;
			}
			.low {background: #ec9e8a; width: 0%;}
			.medium {background: #f2c27a; width: 0%;}
			.high {background: #bcd281; width: 0%;}
			
		}	
}
.dataIndex.target {
			margin-left: 60px;
			margin-top: -2px;
			margin-right: 10px;
			.dataBarContainer {
				margin-top: 2px;
			}
			.dataBar {
				background: #9e9dda;
			}
		}
.memberData {
	width: 100%;
	.dataName { float: left;}
	.dataCount { float: left;}
	.dataBarContainer{
		float: left;
		width: 60%;
	}
}

/* end: Data Charts; */

/* begin: section-activity */

.activity {
	height: $stage_height;
	width: $window_width;   //Config for lesser screen sizes
	margin: auto;
	padding: 15px 0;

	.stageBegin {
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-left: 15px solid white;
		border-bottom: 30px solid transparent;
		float: left;
		margin: 0px;
	}
	.stageContent {
		position: relative;
		height: 58px;
		width: 170px;
		margin-right: 10px;
		margin: 0 ;
		text-align: center;
		background: $stage_background;
		position: relative;
		float: left;
		.stageRole {
			font-size: 16px;
			font-weight: 300;
			line-height: $stage_height;
			text-transform: capitalize;
			color: #927d08;
		}
		.stageCount {
			font-size: 20px;
			color: #956b00;
			margin-left: 10px
		}
		.stageHelp {
			position: absolute;
			top: -10px;
			right: 10px;
			width: 23px;
			height: 23px;
			background: #f6cf94;
			color: #c7a22f;
			line-height: 23px;
			@include border_radius(23px 23px);
			border: 1px solid #f0cbb7;
			font-weight: bold;
			z-index: 1;
			cursor: pointer;
		}
	}
	.stageEnd {
		width: 0;
		height: 0;
		border-top: 30px solid transparent;
		border-left: 15px solid #FFF6E7;
		border-bottom: 30px solid transparent;
		margin: 0;
		background: white;
		float: right;		
	}
	.tunnel {
		margin-left: 30px;
		height: 67px;
		margin-top: -5px;
		width: 100px;
	}
	.tunnelCount {
		font-size: 20px;
		font-size: 30px;
		color: #ef7c44;
		text-shadow: 1px 1px #dfdfdf;
		line-height: 50px;
		margin-left: 20px;
	}
}

/* end: section-stage */

/* begin: section-dashboard */
.dashboard {
	width: $window_width;
	margin: auto;
	height:auto;
}

/* begin: section-userInfo */
.teamInfo {
	width: $teaminfo_width;
	height: auto;
	position: relative;
	.teamlist {
		margin-top: 35px;
	}
	.teamlist .row2 {
		margin-top: 60px;
	}
	.teamlist > li {
		border-right: 1px solid #e6e6e6;
		padding: 0 7px;	
	}
	.teamlist > li.first {
		padding: 0 7px 0 0;
	}
	.teamlist > li.last {
		padding: 0 0 0 7px;
		border: none;
	}
	.member {
		width: 160px;
		height: auto;
		background: #FAFAFA;
		box-shadow: 1px 4px 5px #E4E4E4;
		padding: 10px 0;
		position: relative;
		border-radius: 1px;
		&:hover {
			box-shadow: 1px 1px 3px #fd7b7d ;
			cursor: pointer;
		}
		.memberPic {
			position: absolute;
			top: -41px;
			left: 50px;
			height: $memberPicHeight;
			width: $memberPicWidth;
			border: 2px solid #969696;
			@include border_radius($memberPicHeight $memberPicWidth);
			box-shadow: 0 0 1px #969696;
			background: white;
		}
		.memberPic.select {
			border: 3px solid #fd7b7d;
			box-shadow: 0 0 1px #fd7b7d;
		}
		.memberName {
			font-size: 18px;
			font-weight: normal;
			text-transform: capitalize;
			color: #777777;
			text-align: center;
			padding: 5px 0;
			margin: 10px 0 0 0;
			letter-spacing: 0.5px;
		}
		.memberRole {
			font-size: 11px;
			border: 1px solid #FE954A;
			box-shadow: 0 0 3px #fafafa;
			text-align: center;
			padding: 0px 0 3px 0;
			font-weight: 300;
			margin: 0;
			span { 
				display: block;
				font-size: 16px; 
				color: #010100;
				font-weight: 400;
			}
		}
		.dataIndex {
			padding: 10px 5px;
		}
		.dataName {
			color: #4B4B4B;
			float: left;
			width: 35px;
			font-size: 11px;
		}
		.dataCount {
			width: 18px;
			font-size: 14px;
			color: #373737;
			text-align: right;
			line-height: 16px;
		}
		.dataBarContainer {
			float: right;
			margin-left: 5px;
			width: 95px;
			background:#FBF1D8;
			float: left;
			border: none;
			height: 12px;
		}
		.dataBar {
			height: 12px;
			display: block;
		}
	}
}

/* end section: team Info */
.memInContainer {
	padding: 10px;
	background: #fcf9f0;
	box-shadow: 0px 0px 3px #e9e0d1;
	height: auto;
	margin-top: 10px;
	width: 832px;
}
.memberContainer.first {
	padding-left:0px;
}
.memberInteractions {
	border: 1px solid #e2d1a6;
	padding: 10px;
	.mi {
		padding: 5px 0;
		font-size: 14px;
		.mName {
			font-size: 16px;
			font-weight: bold;
			float: left;
			color: #78716b;
			display: block;
			padding-bottom: 0px;
			border-bottom: 1px solid #edbd97;
		}
		.miContent {
			display: inline-block;
			float: left;
			color: #9D9594;
			padding-left: 16px;
		}
	}
	
}
.btn {
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		color: #535152;
		background: #f8e4c1;
		text-align: center;
		width: auto;
		padding: 0 20px;
		border: 1px solid #f5e1be;
}
.prev_next {
	padding: 10px 5px 10px 0px;
	.prevInt {
		display: block;
		height: 44px;
		line-height: 44px;
		font-size: 14px;
		color: #373636;
		background: #f9e4c1;
		text-align: center;
		width: 208px;
		border-top: 1px solid #f5e1be;
		border-bottom: 1px solid #e1d0bc;
		font-weight: 300;
	}
	.rightArrow {
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-left: 20px solid #a78c65;
		border-bottom: 20px solid transparent;
		margin: 0 0 0 20px;
	}
	.leftArrow {
		margin-left: 20px;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-right: 20px solid #e2d8c6;
		border-bottom: 20px solid transparent;
		margin: 0px;
	}
}

/* Sidebar Right */

.actions {
	width: 150px;
	background:  #fcfbf7;
	margin-left: 10px;
	position: relative;
	z-index: 1;
	.actionTitle {
		font-size: 16px;
		color: white;
		text-shadow: 1px 1px #9c7e4f;
		text-align: center;
		display: block;
		background: #ffc877;
		margin: 0;
		line-height: 40px;
		height: 40px;
		font-weight: bold;
	}
	.actionArrow{
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 6px solid #ffc877;
		float: right;
		position: absolute;
		top: 40px;
		left: 68px;
		z-index: 2;
	}
	.actionSet  {
		display: block;
		text-align: left;
		padding: 5px 0;
		word-wrap: break-word;
		box-shadow:1px 1px 1px #d5d4d0 inset
	}
	.action {
		font-size: 14px;
		color: #757261;
		padding: 8px 10px 8px 20px;
		display: block;
		font-weight: 300;
		text-shadow: 0px 0px #757261;
	}
	.solo {
		background: #ecd17d;
		color: #000;
		display: block;
		text-align: center;
		margin: 0;
		line-height: 40px;
		height: 40px;
		font-size: 14px;
		font-weight: normal;
		text-shadow: none;
		
	}
}

.copyrights {
	margin: 10px auto;
	width: 70%;
	border-top: 1px solid #efefef;
	line-height: 20px;
	font-size: 12px;
	display: block;
	text-align: center;
}


