@import "config";
.close {
		position: absolute;
		right: 0px;
		top: 0px;
		display:block;
		width:  35px;
		height: 35px;
		line-height: 35px;
		font-size: 16px;
		font-weight: bold;
		z-index: 2;
		text-align: center;
		background: #ec6060;
		cursor: pointer;
		color: white;
	}
.userModal {
	background: #FFFBEF;
	width: 655px;
	height: 550px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
	.sideBarLeft {
		width: 150px;
		padding: 10px 10px 0px 10px;
		float: left;
		.userPic {
			height: 90px;
			width: 90px;
			border-radius: 90px 90px;
			color: white;
			border: 1px solid gray;
			text-align: center;
			margin: 10px auto;
			position: relative;
			overflow: hidden;
			img {
				width: 100px;
				height: 100px;

			}
		}
		p {
			font-size: 12px;
			text-align: center;
		}
		.execute {
				display: block;
				width: 130px;
				margin: 5px auto;
				height: 30px;
				text-align: center;
				background: #866e12;
				line-height: 30px;
				color: white;
				font-size: 14px;
		}
		.stageSetting {
			width: 0px;
			height: 0px;
			border-bottom: 10px solid #FFE8BE;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			padding: 0px 65px;
			margin-top: -5px;
		}
		.actions {
			width: 150px;
			background: #fffbf0;
			margin-left: 0px;
			.actionTitle {
				height: 30px;
				line-height: 30px;
				background: #ffc877;
				font-size: 14px;
			}
			.actionSet {
					width: 100%;
					box-shadow: 0 0 2px #d5d4d0 inset;
					height:600px;
				}
		}
		
	}

	.sideBarRight {
		padding: 10px;
		width:465px;
		float:right;
		.userStats {
			border: 1px solid #FFC46D;
			box-shadow: 0px 1px 3px #EC9E8A;
			padding: 10px 7px 10px 10px;
			width: 445px;
			.dataIndex {
				width: 125px;
				float: left;
				margin-right: 30px;
			}
			.dataIndex.last {
				margin-right: 0px;
			}
			.dataName {
				font-size: 13px;
			}
			.dataBarContainer {
				margin:5px 0;
				width: 125px;
				height: 16px;
			}
			.dataBar {
				height: 18px;
			}
			.dataCount {
				font-size: 16px;
				color: #010100;
				float: right;
			}
		}
		.metrics {
			display: inline-block;
		}
		.mcontentBox {
			border: 1px solid #d5d4d0;
			margin: 15px 0px;
			width: 463px;
			.mContent {
				padding: 15px 13px 20px 10px;
			}
		}
		.cTitle {
			margin: 0;	
			height: 24px;
			width: 100%;
			line-height: 24px;
			text-indent: 10px;
			display: block;
			font-size: 14px;
			background:linear-gradient(to right, #FFDB83, #FFFFFF);
		}
		
	}
}	

.mContent {
	position: relative;
	.weekStats {
		position: absolute;
		top: 0;
		right: 0;
		.weekNum {
			border-left: 2px solid white;
			display: inline-block;
			line-height: 30px;
			height: 30px;
			min-width: 30px;
			background:#FEF2D6;
			color: black;
			text-align: center;
			padding: 0 2px;
			.label {
				display: none;
			}
		}
		.weekNum.open {
			width: auto;
			border: 0px;
			padding: 0px 5px;
			background: #f8cf92;
			.label {
				display: inline-block;
				padding: 0px 5px
			}
		}
	}
	.dayLeft {
		width: 300px;
		float: left;
	}
	.dayRight {
		width: 110px;
		float: right;
	}
	.dayStats {
		> li {
			border-bottom: 1px solid #fef7e3;
		}
		.last {
			border: none;
		}
		.day {
			font-size: 13px;
			color: black;
			margin: 5px 0px;
		}
		p {
			color: #928E7C;
			font-size: 13px;
			margin: 5px 0;
		}
	}
	.dataIndex {
		width: 100%;
		margin: 0;
		padding: 0;
		.dataName {
			font-size: 12px;
			color: gray;
			padding-right: 10px;
		}				
		.dataCount {
			font-size: 12px;
			color: block;
			float: right;
		}
		.dataBar { 
			margin-top: 3px;
			margin-right: 10px
		}
		.dataBar.up {
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 7px solid #bcd281;
			float: right;

		}
		.dataBar.down {
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 7px solid #ec9e8a;
			float: right;
		}
		.dataBar.none{
			color: gray;
			width: 0; 
			height: 0; 
			border: 0;
			float: right;
			border-top: 3px solid gray;
		}
	}
	
}
.userInfo {
		li { margin: 10px}
		.label {
			font-style: italic;
			color: #B5AF9E;
			margin-right: 20px;
		}
		.value {
			font-style: italic;
			color: #4F4A33;
		}
	}


