   
header 
  a.logo.left href="index.html"  
    img src="images/logo.png" alt="Inpired Resume"
  a.about.right href="about_us.html"  About Us

section.upload-resume 
  h2.title Make your resume error free !
  .feature-box
    ul.features.list.horizontal
      li.spell Spell Check
      li.grammar Grammar Check
      li.audit  Audit by Language Expert
    .clear
  .upload-box
    input.submit-box type="text" placeholder="Drag and Drop your resume here (.doc or .docX)" 
    .clear
  input.submit-btn type="submit" value="SUBMIT"
  p.free-text It's absolutely free !

section.teaser.hidden
  .teaser-box
    p 
      | 90% of recruiting managers would reject a candidate whose resume has a spelling or a grammatic error. 
      span.blue
        | A good enough reason to keep your resume error-free ?

section.howto
  h3 Here is how it works 
  .howto-container
    ul.list.horizontal.howto-list
      li 
        img src="images/howto_1.png"
        p Your submit your resume
      li
        img src="images/howto_2.png"
        p Your resume gets analyzed for errors
      li
        img src="images/howto_3.png"
        p Your resume gets audited by our language expert
      li
        img src="images/howto_4.png"
        p Your corrected resume arrives in your inbox
    .clear

footer 
  .f_container 
    .left.copyright
      p &copy Inspired Resume, 2015
    .right.footer-links
      a href="about-us.html" About Us
      a href="hiring.html" We are hiring







  