   
header 
  a.logo.left href="index.html"  
    img src="images/logo.png" alt="Inpired Resume"
  a.about.right href="about_us.html"  About Us

section.poll
  h3.title  Please participate in out quick poll where we analyze 
    span.resume-name vamshi.cv.docx
  .loading-bar
  .poll-container
    h2.title In which of the following job sites do you have a Resume ?
    ul.list.horizontal.poll-choice
      li 
        input.tickbox#tb1 type="checkbox" Naukari.com
      li
       input.tickbox#tb2 type="checkbox" Timesjobs.com
      li
        input.tickbox#tb3 type="checkbox" LinkedIn.com
      li
        input.tickbox#tb4 type="checkbox" MonsterIndia.com
      li
        input.tickbox#tb5 type="checkbox" Shine.com
      li
        input.tickbox#tb6 type="checkbox" Careerbuilder.com
    input.submit-poll type="submit" value="SUBMIT POLL"
  p.poll-privacy
    | Inspired Resume would like to assure you that your 
    br
    | information will remain confidential


section.howto
  h3 Here is how it works 
  .howto-container
    ul.list.horizontal.howto-list
      li 
        img src="images/howto_1.png"
        p Your submit your resume
      li
        img src="images/howto_2.png"
        p Your resume gets analyzed for errors
      li
        img src="images/howto_3.png"
        p Your resume gets audited by our language expert
      li
        img src="images/howto_4.png"
        p Your corrected resume arrives in your inbox
    .clear

footer 
  .f_container 
    .left.copyright
      p &copy Inspired Resume, 2015
    .right.footer-links
      a href="about-us.html" About Us
      a href="hiring.html" We are hiring







  