   
header 
  a.logo.left href="index.html"  
    img src="images/logo.png" alt="Inpired Resume"
  a.about.right href="about_us.html"  About Us


section.share
  h2.title 
    | The analysis of your resume is complete !
  p 
    | Our experts will audit the resume and send it to your inbox in 4-5 hours.

  h3.spread Spread the Word
  .share-container
    ul.list.horizontal.share-icons
      li 
        img src="images/fb_share.png"
      li
        img src="images/twitter_share.png"
      li
        img src="images/google_share.png"
      li
        img src="images/in_share.png"
    .clear
  p.help
    | Help your friends get error-free resumes


section.howto
  h3 Here is how it works 
  .howto-container
    ul.list.horizontal.howto-list
      li 
        img src="images/howto_1.png"
        p Your submit your resume
      li
        img src="images/howto_2.png"
        p Your resume gets analyzed for errors
      li
        img src="images/howto_3.png"
        p Your resume gets audited by our language expert
      li
        img src="images/howto_4.png"
        p Your corrected resume arrives in your inbox
    .clear

footer 
  .f_container 
    .left.copyright
      p &copy Inspired Resume, 2015
    .right.footer-links
      a href="about-us.html" About Us
      a href="hiring.html" We are hiring







  