#default-popup.avgrund-popup
	section.userModal
		a.close x
		.sideBarLeft
			.userPic
				img src="user.png"
			p 
				' Your leadership style 
				br
				'	with Bil Mahler this week
			h3.execute
			.stageSetting
			.actions
				h3.actionTitle Take an Action
				ul.list.vertical.actionSet
					li
						a.action Meet the Team
					li
						a.action Energize Team
					li
						a.action Send email
					li
						a.action Swap/Reassign roles
					li
						a.action Hire a Member
					li
						a.action Fire a Manager

		.sideBarRight
			.userStats
				ul.list.horizantal
					li
						.dataIndex
							span.dataName	Team Result
							span.dataCount 80
							.dataBarContainer
								span.dataBar.low
					li
						.dataIndex
							span.dataName	Team Result
							span.dataCount 80
							.dataBarContainer
								span.dataBar.medium
					li
						.dataIndex
							span.dataName	Team Result
							span.dataCount 80
							.dataBarContainer
								span.dataBar.high 
				a.metrics.btn View Metrics

			.mcontentBox
				h3.cTitle	Your Interactions with Bill Mahlel
				.mContent
					ul.list.horizantal.weekStats
						li
							a.weekNum.open 
								span.label Week
								span.value 3
						li
							a.weekNum 
								span.label Week
								span.value 2
						li
							a.weekNum
								span.label Week
								span.value 1
					ul.list.vertical.dayStats
						li
							h4.day Day
							.dayLeft
								p
									' Thank you for your congratulatory note ! Really thoughtful of you to pen it that way. I am excited and look forward to many more laurels and achivements

							.dayRight
								ul.list.vertical
									li
										.dataIndex
											span.dataName	Skill
											span.databar.up 
												icon.fa-arrow-up
											span.dataCount  6
									li
										.dataIndex
											span.dataName	Morale
											span.databar.down
												icon.fa-arrow-down
											span.dataCount  3
									li
										.dataIndex
											span.dataName Results
											span.databar.none
												icon
											span.dataCount 
						li.day.last
							h4 Day
							.dayLeft
								p
									' Thank you for your congratulatory note ! Really thoughtful of you to pen it that way. I am excited and look forward to many more laurels and achivements

							.dayRight
								ul.list.vertical.daySkillStats
									li
										.dataIndex
											span.dataName	Skill
											span.databar.up 
											span.dataCount  6
									li
										.dataIndex
											span.dataName	Morale
											span.databar.down
											span.dataCount  3
									li
										.dataIndex
											span.dataName Results
											span.databar.none
											span.dataCount 
			.mcontentBox
				h3.cTitle	About Bill Mahleler
				ul.list.vertical.userInfo
					li
						span.label Previous Company:
						span.value Not known
					li
						span.label joined Innnov8:
						span.value 3 years ago
					li
						span.label Experience in industry:
						span.value e years ago
					li
						span.label	Skills
						span.value Qualify, Sales Lead
					li
						span.label	Remarks
						span.value 	Lorem ipsum Lorem ipsum Lorem






